body {
    background-color: #1a1a1a;
    color: #fff;
}
.centered-form {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
  }
  
  .custom-form {
    width: 50%;
    text-align: center;
  }
  .wrapper-btn{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
  }